################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/狀態模式/二維地圖冒險遊戲/.idea/.idea.二維地圖冒險遊戲.dir/.idea
/轉接器模式
